@model RodaVelha.ViewModels.UserPageViewModel
@using System.Security.Claims

@{
    ViewData["Title"] = "Perfil";
    var name = User.FindFirstValue(ClaimTypes.Name);
    var email = User.FindFirstValue(ClaimTypes.Email);
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}


    <h1 class="mx-auto">Perfil</h1>
    <p></p>

<section class="card-section d-flex justify-content-center">
    <div class="card " style="width:30rem">
        @{
            String imgPhoto = Model.user.Photo;
            if (imgPhoto == null)
                imgPhoto = "../../assets/images/Users/person-icon-blue.webp";        
        }

        <img src="@imgPhoto" class="card-img-top " alt="Imagem do perfil do usuário" style="width: 150px;" />
        <div class="card-body ">
                @if (Model.user != null){
                <h5 class="card-title">Nome: @name</h5>
                <h5 class="card-title">E-mail: @email</h5>
                <div class="button-edit d-flex justify-context-center">
                    <a class="btn btn-custom" asp-action="Edit" asp-route-id="@userId">EDITAR PERFIL</a>
                </div>
                }
                else
                {
                    <h5 class="card-title">Nome: [ Não Logado ]</h5>
                    <h5 class="card-title">E-mail: [ Não Logado ]</h5>
                    <div class="button-edit content-align-center text-center">
                    <a class="btn" asp-action="Edit" asp-route-id="@userId">EDITAR PERFIL</a>
                </div>
                }
            </div>
        </div>
    </section>
   <section class="eventos-publicados mx-auto">
    <div class="d-flex mb-5 mt-2 justify-content-between">
   <div class="d-flex mb-0">
            <img class="icon_h1" src="../../assets/images/Users/cronograma.png" />
            <h1 class="mb-0">Eventos Publicados:</h1>
   </div>
        <a class="mb-0 btn-custom btn justify-content-evenly" asp-controller="Events" asp-action="Create" asp-route-id="@userId">Cadastrar Evento</a>
        <a class="mb-0 btn-custom btn justify-content-evenly" asp-action="Report" >Gerar Relatório</a>
   </div>
    <div>
        <div class="row row-cols-2 justify-content-center">

            @if (Model.events != null)
            {
               
                foreach (var item in Model.events)
                {
                 
                    <div class="card-completo mb-5 col-md-4">
                        <a data-target="#exampleModal" onclick="openModal(@item.Id)"><i class="icon-remove fa-solid fa-trash-can"></i></a>
                            <div style="background-image:url('@item.Photo')" class="card custom-card">
                                
                            </div>
                        <a class="btn btn-custom mt-1" asp-controller="Events" asp-action="Edit" asp-route-id="@item.Id">EDITAR</a>
                        </div> 
                }
            }  
       </div>
    </div>
    </section>

    
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Atenção!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deseja realmente apagar este evento?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="removeEvent" type="button" class="btn btn-danger deleteButton" data-id="">Excluir</button>
            </div>
        </div>
    </div>
</div>
 

    <section class="eventos-publicados align-items-center mx-auto">
    <div class="d-flex">
        <h1 class="mb-0 ms-2">Eventos que você curtiu:</h1>
    </div>
    </br> </br> </br>
    <div>
         <div class="row row-2">
            @if (Model.eventsLike != null)
            {
                foreach (var item in Model.eventsLike)
                {
                    <div class="card-completo mb-5 col-md-4">
                        <div style="background-image:url('@item.Photo')" class="card custom-card">
                        </div>
                    </div>
                }
            }

        </div>
    </div>   
    </section>



    <script src="https://kit.fontawesome.com/9e6a074965.js" crossorigin="anonymous"></script>
    <script src="~/js/like.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}