@model RodaVelha.Models.User

@using System.Security.Claims

@{
    ViewData["Title"] = "Perfil";
    var name = User.FindFirstValue(ClaimTypes.Name);
    var email = User.FindFirstValue(ClaimTypes.Email);
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}



<div class="main-report">
    <div class="header-report">

    </div>
    <div class="user-information">
        <p>@Html.DisplayNameFor(model => model.Name)</p>
        <p>@Html.DisplayNameFor(model => model.Email)</p>
        <p>@Html.DisplayNameFor(model => model.Likes)</p>

    </div>
    <h1>Eventos Cadastrados</h1>
    @foreach(var item in Model.Events)
    {
        <p>@item.Name</p>
        <p>@item.Location</p>
        <p>@item.Description</p>
        <p>@item.StartDate</p>
        <p>@item.EndDate</p>
        <p></p>

    }
    <div class="events-list">

    </div>
</div>