@model RodaVelha.ViewModels.UserPageViewModel

@using System.Security.Claims

@{
    ViewData["Title"] = "Perfil";
    var name = User.FindFirstValue(ClaimTypes.Name);
    var email = User.FindFirstValue(ClaimTypes.Email);
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}


<link rel="stylesheet" href="~/css/perfil.css" />


<div class="d-flex justify-content-center">
    <h1 class="mx-auto ">Relatório</h1>
</div>

<div class="text-center d-print-none" id="combo-report">

    <select id="pageSelect" onchange="navigateToPage()">
        <option value="">Selecione um Relatório</option>
        <option value="@Url.Action("Report", "Users")">Todos os eventos cadastrados e likes</option>
        <option value="@Url.Action("Report2", "Users")">Eventos Cadastrados Ativos</option>
        <option value="@Url.Action("Report3", "Users")">Eventos Cadastrados Encerrados</option>
        <option value="@Url.Action("Report4", "Users")">Eventos com mais Likes</option>
    </select>
</div>

<div class="d-flex justify-content-end" style="margin-right: 20px; cursor:pointer">
    <a class="mt-1 d-print-none  " onclick="window.print()">IMPRIMIR</a>
</div>

<div id="main-report">
    <header>
        <div class="d-flex">
            <img src="~/assets/images/logo.png" alt="Logo da Empresa" style="width:50px; ">
            <h1>RodaVelha</h1>
        </div>
        <p>Nome do Usuário: @name</p>
        <p>E-mail do Usuário: @email</p>
        <p>Data de Cadastro: @Model.user.CreatedDate.ToString("dd/mm/yyyy")</p>
    </header>

    <h1 style="text-align: center;">Eventos Cadastrados Encerrados:</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID do Evento</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Data de Início</th>
                <th scope="col">Data de Término</th>
                <th scope="col">Localização</th>
                <th scope="col">Organizador</th>
                <th scope="col">Likes</th>
                <th scope="col">Telefone</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.eventsLike)
            {
                <tr>
                    <td scope="row">@item.Id</td>
                    <td scope="row">@item.Name</td>
                    <td scope="row">@item.Description</td>
                    <td scope="row">@item.StartDate</td>
                    <td scope="row">@item.EndDate</td>
                    <td scope="row">@item.Location</td>
                    <td scope="row">@item.Organizer</td>
                    <td scope="row">@item.Likes</td>
                    <td scope="row">@item.Phone</td>
                </tr>
            }

        </tbody>
    </table>





