@model RodaVelha.Models.Events

@{
    ViewData["Title"] = "Editar Evento";
}

<link rel="stylesheet" href="~/css/event.css?v=3" />

<div class="m-5">
    <div class="row justify-content-center">
        <h2 class="mt-5 mb-3 d-flex">Editar Evento</h2>
    </div>
    <div class="row justify-content-center">
        <div class="card col">
            <form asp-action="Edit" enctype="multipart/form-data" class="needs-validation" novalidate>
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" value="@Model.Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="StartDate" class="form-label"></label>
                    <input asp-for="StartDate" type="datetime-local" class="form-control" value="@Model.StartDate.ToString("yyyy-MM-ddTHH:mm")" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="EndDate" class="form-label"></label>
               
                    <input asp-for="EndDate" type="datetime-local" class="form-control" value="@Model.EndDate?.ToString("yyyy-MM-ddTHH:mm")" />
  
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="State" class="control-label"></label>
                    <select asp-for="State" class="form-control" asp-items="ViewBag.States"></select>
                </div>
                <div class="mb-3">
                    <label asp-for="Location" class="form-label"></label>
                    <input asp-for="Location" class="form-control" value="@Model.Location" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Organizer" class="form-label"></label>
                    <input asp-for="Organizer" class="form-control" value="@Model.Organizer" />
                    <span asp-validation-for="Organizer" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Phone" class="form-label"></label>
                    <input asp-for="Phone" class="form-control" value="@Model.Phone" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div id="fileUpload" class="mb-3">
                    <label asp-for="Photo" class="form-label"></label>
                    <input asp-for="Photo" type="file" class="form-control" value="@Model.Photo"/>
                    <span asp-validation-for="Photo" class="text-danger"></span>

                </div>
                <div class="mb-3">
                   
                    <input type="hidden" asp-for="Id"/>
                    <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                    <input type="hidden" asp-for="Likes" value="@Model.Likes" />
                   
               
                    <button asp-controller="Users" asp-action="Index" class="btn btn-secondary mr-2">Voltar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
            
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[name="Phone"]').mask('(00) 00000-0000');
        });
    </script>
}
