<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/assets/css/main.css?v=1.0.0" rel="stylesheet" />
    <link href="~/assets/css/forms.css?v=1.0.0" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link href="@Url.Content("~/css/perfil.css")" rel="stylesheet" />
    <title>@ViewData["Title"] - RodaVelha</title>
</head>

<body>
    <!--HEADER-->

    <header class="header-container d-print-none">
        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="../../assets/images/logo.png" alt="logo-rodavelha" class="logo-image" /></a>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

        <nav class="nav-bar">
            <ul>
                <li>
                    @* <a asp-area="" asp-controller="Home" asp-action="Index" class="active">INÍCIO</a> *@
                    <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")" asp-controller="Home" asp-action="Index">INÍCIO</a>

               </li>

                <li>
                    @* <a asp-area="" asp-controller="Users" asp-action="Index">PERFIL</a> *@
                    <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Users" && ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")" asp-controller="Users" asp-action="Index">PERFIL</a>

                </li>

                <li>
                    @* <a asp-area="" asp-controller="Events" asp-action="Index">EVENTOS</a> *@
                    <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Events" ? "active" : "")" asp-controller="Events" asp-action="Index">EVENTOS</a>

                </li>
                
                @if (User.Identity.IsAuthenticated)
                {
                  <li>
                    @* <a asp-area="" asp-controller="Users" asp-action="Logout">SAIR</a> *@
                    <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Users" && ViewContext.RouteData.Values["action"].ToString() == "Logout" ? "active" : "")" asp-controller="Users" asp-action="Logout">SAIR</a>

                  </li>
                }
                else
                {
                  <li>
                    @* <a asp-area="" asp-controller="Users" asp-action="Login">ENTRAR</a> *@
                    <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Users" && ViewContext.RouteData.Values["action"].ToString() == "Login" ? "active" : "")" asp-controller="Users" asp-action="Login">ENTRAR</a>

                  </li>
                }
            </ul>
        </nav>
    </header>

    <!--end-HEADER-->


    <!--MAIN-->
        <main>
            @RenderBody()
        </main>
    <!--end-MAIN-->


    <!--FOOTER-->
    <footer class="d-print-none">
        <div class="container">
            <!--ul 1-->
            <ul id="ul-1">
                <h3>RODA VELHA</h3>
                <p>
                    Reviva a elegância do passado com o Roda Velha: o destino definitivo
                    para entusiastas de carros clássicos.
                </p>
                <div class="redes-sociais">
                    <img src="~/assets/images/wfb.png" alt="Facebook" />
                    <img src="~/assets/images/wx.png" alt="X" />
                    <img src="~/assets/images/wwpp.png" alt="Whatsapp" />
                    <img src="~/assets/images/winsta.png" alt="Instagram" />
                </div>
            </ul>
            <!--end ul 1-->

            <!--ul 2-->
            <ul id="ul-2">
                <h3 class="links" id="links">LINKS</h3>
                <li><a href="@Url.Action("Index", "Home")">Início</a></li>
                <li><a href="@Url.Action("Index", "Users")">Perfil</a></li>
                <li><a href="@Url.Action("Login", "Users")">Login</a></li>
                <li><a href="@Url.Action("Create", "Users")">Cadastro</a></li>
            </ul>
            <!--end ul 2-->

            <!--ul 3-->
            <ul id="ul-3">
                <h3 class="suporte" id="suporte">SUPORTE</h3>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Como Funciona</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
            <!--end ul 3-->

            <!--ul 4-->
            <ul id="ul-4">
                <h3>FALE CONOSCO</h3>
                <li>
                    <p>+55 310000-7000</p>
                </li>
                <li>
                    <p>suporterodavelha@gmail.com</p>
                </li>
                <li>
                    <p>Brasil</p>
                </li>
            </ul>
            <!--end ul 4-->
        </div>
    </footer>
    <!--end-FOOTER-->

    <!--SCRIPT-->
    <script>
        hamburger = document.querySelector(".hamburger");
        hamburger.onclick = function () {
            navBar = document.querySelector(".nav-bar");
            navBar.classList.toggle("active");
        }   
    </script>

    <!--end-SCRIPT-->
    <script src="https://kit.fontawesome.com/9e6a074965.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
